{% extends "base.html" %}
{% block content %}

<title>reddit post prediction</title>
<body class="background">
<div class="contentBorder">

{% if successful %}
<p  class="allText">successful</p>
{% endif %}
{% if incorrect_pass %}
<p  class="allText">password did not match account</p>
{% endif %}
{% if passwords_mismatch %}
<p  class="allText"> passwords did not match</p>
{% endif %}
{% if request.user.is_authenticated %}
<title>email new password</title>
<form class="form-inline" action="/change_password/" method="post">
    {{ form.non_field_errors }}
    {% csrf_token %}
    
    <div class="fieldWrapperDates">
    <label class="userlabel">current password:</label>
        {{ form.password1.errors }}

        {{ form.password1 }}
        
    </div>

    <div class="fieldWrapperDates">
    <label class="userlabel">new password:</label>
        {{ form.newpassword1.errors }}

        {{ form.newpassword1 }}
        
    </div>

    <div class="fieldWrapperDates">
    <label class="userlabel">repeat new password:</label>
        {{ form.newpassword2.errors }}

        {{ form.newpassword2 }}
        
    </div>

<p class="newSearch"><button type="submit" tabindex="8" id="verify_email" 
    class="col-sm-push-6 btn btn-primary text-uppercase btn-large">Change Password</button></p>
</form>

{% endif %}
</div>
</body>
{% endblock %}
