{% extends "base.html" %}
{% block content %}
{% if email_sent %}
<p class="allText">email sent!</p>
{% endif %}
<title>reddit post prediction</title>
<body class="background">
<div class="contentBorder">
{% if email_invalid %}
<p class="allText">that email was not found in our database</p>
{% endif %}
{% if success %}
<p class="allText">an email has been sent with log in instructions</p>
{% else %}
<title>email new password</title>
<p class="allText">enter your email and we will send you a new password that you can use to log in</p>
<form class="form-inline" action="/reset_password/" method="post">
    {{ form.non_field_errors }}
    {% csrf_token %}
    
    <div class="fieldWrapperDates">
    <label class="userlabel">email:</label>
        {{ form.email.errors }}

        {{ form.email }}
        
    </div>

<p class="newSearch"><button type="submit" tabindex="8" id="verify_email" 
    class="col-sm-push-6 btn btn-primary text-uppercase btn-large">Send email</button></p>
</form>
{% endif %}
</div>
</body>
{% endblock %}
